<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<br>
<p>********************</p>
<br>

<h2>Looking for a bed</h2>

<p><p><%= link_to "Find a bed", ads_path%></p></p>

<p><%= link_to "View my bookings", bookings_path%></p>

<br>
<p>********************</p>
<br>
<h2>My ads</h2>
<p><%= link_to "Put an ad", new_ad_path%></p>


<% if current_user == nil %>
  <%= link_to "View my ads", new_user_session_path  %>
<% else %> 
  <%= link_to "View my ads", user_path(current_user)%>
<% end %>
<br>
<br>
<p>Confirm bookings</p>


