<h3>Beds</h3>


<% @ads.each do |ad| %>
<ul>
  <li>
    <div class="card-product">
       <img src=<%= ad.image %>>
      <div class="card-product-infos">


     <% if ad.status == "unavailable" || ad.status == "pending" %>

      <%= ad.title %> --- status : Bed currently unavailable

    <% else %>

      <%= ad.title %> --- <%= link_to "You can book it !", ad_path(ad.id) %>

    <% end %>

      <p><%= ad.description %></p>
      <p>Price per hour: <%= ad.price_per_hour %></p>
        <p>Price per night: <%= ad.price_per_night %></p>
    </div>
  </div>

  </li>
</ul>
<% end %>

