<h3>Beds</h3>

<%= form_tag ads_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your bed of your dream"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @ads.each do |ad| %>
<ul>
  <li>
    <div class="card-product">
       <img src=<%= ad.image %>>
      <div class="card-product-infos">


     <% if ad.status == "unavailable" || ad.status == "pending" %>

      <%= link_to "#{ad.title}", ad_path(ad.id), class:"btn-flat4" %>
      <p style="color:red">Status: Bed currently unavailable</p>

    <% else %>

      <%= link_to "#{ad.title}", ad_path(ad.id), class:"btn-flat4" %>
      <p style="color:green">Status: Available</p>

    <% end %>

      <p><%= ad.description %></p>
      <p>Price per hour: <%= ad.price_per_hour %></p>
        <p>Price per night: <%= ad.price_per_night %></p>
    </div>
  </div>

  </li>
</ul>
<% end %>
