
<h1>Beds available</h1>


<% @ads.each do |ad| %>
<ul>
  <li>
    <div class="card-product">
       <img src=<%= ad.image %>>
      <div class="card-product-infos">

    <% if ad.status == nil %>
      <h3><%= link_to "#{ad.title}", ad_path(ad.id) %></h3>
      <p>status : Available</p>
    <% elsif ad.status == "" %>
      <h3><%= link_to "#{ad.title}", ad_path(ad.id) %></h3>
      <p>status : Available</p>
    <% else %> 
       <h3><%= ad.title %></h3>
       <p>status : Bed currently unavailable</p>
    <% end %>
    <p><%= ad.description %></p>
    <p>Price per hour: <%= ad.price_per_hour %></p>
    <p>Price per night: <%= ad.price_per_night %></p>
    </div>
  </div>

  </li>
</ul>
<% end %>

