<% @ads.each do |ad|%>
<p><span class="bold_main_title"><%= ad.title  %></span></p>


<div class="card-trip">
  <img src= "<%= ad.image  %>"/>
  <div class="card-trip-infos">
    <div>
      <p><span class="bold_title">Description: </span><%=ad.description%></p>
      <br>
      <p><span class="bold_title">City: </span><%=ad.city%></p>
      <br>
      <p><span class="bold_title">Price per hour: </span><%= ad.price_per_hour  %></p>
      <br>
      <p><span class="bold_title">Price per night: </span><%= ad.price_per_night  %></p>
    </div>
  </div>
</div>

<br>

  <% if ad.user ==  current_user %>
    <p><%=  "You are the owner of this bed! So you can not book it :)" %></p>

  <% elsif current_user.present?%>

    <% if ad.pending?(current_user, params[:id]) %>
       <p><%= "Your booking is pending, please wait for confirmation" %></p>

    <% elsif ad.declined?(current_user, params[:id]) %>
       <p><%= link_to "Your demand was decline. Try to book this bed again?", new_ad_booking_path(ad) %></p>

    <% elsif ad.status == "unavailable" %>
    <p>Sorry this bed cannot be rented at the moment</p>

    <% elsif %>
       <p><%= link_to "Book this bed", new_ad_booking_path(ad), class:"btn-flat2" %></p>
    <% end %>

  <% elsif %>
       <p><%= link_to "Book this bed", new_user_session_path, class:"btn-flat2" %></p>


<% end %>
<br>
<%= link_to "Previous page", ads_path, class:"btn-flat3" %></p>
<% end %>
