<h1>Detail of the ad</h1>
<% @ads.each do |ad|%>
<p>Ad: <%= ad.title  %></p>
<p>Description: <%= ad.description  %></p>
<p>City: <%= ad.city  %></p>
<p>Price per hour (in CAD): <%= ad.price_per_hour  %></p>
<p>Price per night (in CAD): <%= ad.price_per_night  %></p>
<br>

  <% if ad.user ==  current_user %>
    <p><%=  "You are the owner of this bed! So you can not book it :)" %></p>

  <% elsif current_user.present?%>

    <% if ad.pending?(current_user, params[:id]) %>
       <p><%= "It's pending, please wait for confirmation" %></p>

    <% elsif ad.declined?(current_user, params[:id]) %>
       <p><%= link_to "Your demand was decline. Try to book this bed again?", new_ad_booking_path(ad) %></p>
    <% end %>
  <% end %>



<%= link_to "Previous page", ads_path %></p>
<% end %>
