<h2>My bookings as a renter</h2>


<% @outgoing_bookings.each do |booking| %>
<p><%= link_to "#{booking.ad.title}", ad_path(booking.ad) %> --- host: <%= booking.ad.user.email %> --- status: <%= booking.status %> --- <%= link_to "Cancel my booking", booking_path(booking), method: :delete%></p>
<% end %>

<br>
<h2>My bookings as a host</h2>
<% @incoming_bookings.each do |booking| %>
<p><%= booking.ad.title %> --- renter: <%= booking.user.email %> --- status: <%= booking.status %> --- <%= link_to "confirm my booking", booking_path(booking)%></p>
<% end %>
