<h2>My bookings as a renter</h2>

<% @outgoing_bookings.each do |booking| %>
<ul>
  <li>
    <div class="card-product">
       <img src=<%= booking.ad.image %>>
      <div class="card-product-infos">
  <h5><%= link_to "#{booking.ad.title}", ad_path(booking.ad), class:"btn-flat4" %></h5>
  <p>host: <%= booking.ad.user.email %></p>
  <p>Booking starts: <%= booking.booking_start %></p>
  <p>Booking ends: <%= booking.booking_end %></p>
  <p>status: <%= booking.status %></p>
  <br>
  <p><%= link_to "Cancel my booking", booking_path(booking), method: :delete, class: "btn-flat2"%></p>
  
  </li>
</ul>
<% end %>


<br>
<h2>My bookings as a host</h2>
<% @incoming_bookings.each do |booking| %>
<ul>
  <li>
    <div class="card-product">
       <img src=<%= booking.ad.image %>>
      <div class="card-product-infos">
   <h5><%= link_to "#{booking.ad.title}", ad_path(booking.ad), class:"btn-flat4" %></h5>
   <p>renter:<%= booking.user.email %></p>

 <p><% if booking.status == "decline" %>
  : <p style="color:red">This booking has been declined</p>
  <p><% elsif booking.status == "pending" %></p>
    <p>status : pending</p>
    <br>
      <p><%= link_to "confirm my booking", booking_path(booking), class: "btn-flat2"%></p>
    <% elsif booking.status == "confirmed" %>
: <p style= "color:green">This booking has already been confirmed </p>
<% end %>
  <br>
    </li>
  </ul>
  <% end %>
 
