<h1>My ads</h1>
<br>

<% @ads.each do |ad|%>
<ul>
<li>
  <div class="card-product">
     <img src=<%= ad.image %>>
     <div class="card-product-infos">
  <h5><%= link_to "#{ad.title}", ad_path(ad.id), class:"btn-flat4"%></h5>
  <p> renter:
     <%= if ad.bookings.last == nil
         "This bed is not rented"
          else
            ad.bookings.last.user.email
          end %>

<% if ad.bookings.last != nil %>

  <p>Booking starts: <%= ad.bookings.last.booking_start %></p>
  <p>Booking ends: <%= ad.bookings.last.booking_end %></p>

<% end %>

  </p>
  <br>
      <p><%= link_to "Delete this ad", ad_path(ad), method: :delete, class:"btn-flat2" %></p>
</li>
</ul>
<% end %>
