<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container" style="background-image: url('bed1.jpg'); background-color: #e7eaea">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <h1 style="color:blue; font-size:50px; font-family: sans-serif;">BedBnB</h1>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><%= link_to "HomePage", root_path, class: "nav-link"  %></li>
              <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"   %></li>
              <li class="nav-item"><%= link_to "view my adds", ads_path, class: "nav-link"   %></li>
              <li class="nav-item"><%= link_to "view my bookings", bookings_path, class: "nav-link"   %></li>
            </ul>
          </div>
      </div>

    <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
